<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>It's my profile page.</h1><br><br><br>
    <h2>My Profile</h2>
    <ul>
        <li><p><span style='color:pink; font-weight:1000;'>Name</span>: <span style="font-weight: 800; color:red;">Raj Mangal</span></p></li>
        <li><p>City: Indore</p></li>
        <li><p>Mob no: 1234567890</p></li>
        <li><p>Email: rajmangal@gmail.com</p></li>
    </ul>
</body>
</html>